{{#if message}}
  <div class="alert alert-info">
    <strong>Info!</strong> {{message}}.
  </div>
{{/if}}

<div class="container">
  <div class="card" style="width: 50rem;">
    <img class="card-img-top" src="images/loanbrokerimg.jpg" alt="G4 logo">
    <div class="card-body">
      <h2 class="card-title">Authors</h2>
      <div class="card-text">
        <ul>
          <li>Mikkel Ziemer Højbjerg Jensen (cph-mj496)</li>
          <li>Cherry Rose Jimenez Semeña (cph-cs241)</li>
          <li>Diana Strele (cph-ds126)</li>
          <li>Mahnaz Karimi (cph-mk406)</li>
        </ul>
      </div>
      <br><br>
      <div class="btn-group" role="group" aria-label="Basic">
        <a class="btn btn-primary btn-lg" href="/loanrequest" role="button">Loan Request</a>
        <a class="btn btn-primary btn-lg" href="/loanreply/{{ssn}}" role="button">Loan Result</a>
      </div>
      <div class="clearfix"></div>
      <br><br>
      <div class="btn-group" role="group" aria-label="Basic">
        <a class="btn btn-primary btn-lg" href="/search/loanreply" role="button">Find Loan Reply</a>
      </div>
    </div>
  </div>
</div>
